@model Mobile
@{
    ViewData["Title"] = "Update Mobile";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>
                Update Mobile
            </h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img id="MobilePicturePreview"  style="max-width: 150px" />
                    </div>

                            <div class="form-group">
                                <label asp-for="MobilePictureURL" class="control-label"></label>
                                <input asp-for="MobilePictureURL" class="form-control" />
                                <span asp-validation-for="MobilePictureURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MobileName" class="control-label"></label>
                                <input asp-for="MobileName" class="form-control" />
                                <span asp-validation-for="MobileName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Processor" class="control-label"></label>
                                <input asp-for="Processor" class="form-control" />
                                <span asp-validation-for="Processor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RAM" class="control-label"></label>
                                <input asp-for="RAM" class="form-control" />
                                <span asp-validation-for="RAM" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Camera" class="control-label"></label>
                                <input asp-for="Camera" class="form-control" />
                                <span asp-validation-for="Camera" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Screen" class="control-label"></label>
                                <input asp-for="Screen" class="form-control" />
                                <span asp-validation-for="Screen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Battery" class="control-label"></label>
                                <input asp-for="Battery" class="form-control" />
                                <span asp-validation-for="Battery" class="text-danger"></span>
                            </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CompanyId" class="control-label"></label>
                            <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.Companies" multiple></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OperatingId" class="control-label"></label>
                            <select asp-for="OperatingId" class="form-control" asp-items="ViewBag.Operatings" multiple></select>
                            <span asp-validation-for="OperatingId" class="text-danger"></span>
                        </div>
                       
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('MobilePicturePreview');
            output.src = "@Model.MobilePictureURL";
        })
        $("#MobilePictureURL").on("change", function () {
            var output = document.getElementById('MobilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}
